.formulario{
 
    form{
        max-height: 74vh; 
        overflow-y: auto;
    }

    ion-chip {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .nombreYImg{
        display: flex;
        align-items: center;
        gap: 8px;
        img {
            width: 2rem;
        }
    }
    .contenedor_boton{
        display: flex;
        .boton_principal{
            margin: auto;
        }
    }
}