<ion-grid class="formulario">
  <ion-row>
    
    <ion-col class="contenedor" size="12">
      <form [formGroup]="formPaises">
        <ion-row class="paises_listado">
          <ion-col size="12" formArrayName="paises" class="contenedor">
            <ion-chip mode="ios" (click)="verDetalles(pais)"
              *ngFor="let pais of listarPaises.controls; let indexPais = index" [formGroupName]="indexPais">
  
              <ion-col size="11" class="nombreYImg">
                <img [src]="pais.value.svg" alt="">
                <ion-label>{{pais.value.nombre}}</ion-label>
              </ion-col>
  
              <ion-col size="1">
                <!-- Checkbox para controlar el estado -->
                <ion-checkbox formControlName="check"></ion-checkbox>
              </ion-col>
            </ion-chip>
          </ion-col>
        </ion-row>
      </form>
    </ion-col>

    <ion-col size="12" class="contenedor_boton">
      <button (click)="compararPoblaciones()" ion-button type="submit" class="btn boton_principal">
        <ion-text>Comparar</ion-text>
      </button>
    </ion-col>

  </ion-row>
  <!--
    <pre>{{ formPaises.value | json }}</pre>
    -->
</ion-grid>