ion-icon {
    font-size: 2.5rem;
    position: absolute;
    z-index: 99999;
    right: 11px;
    top: 0.5rem;
    color: white;
    background: black;
    border-radius: 50%;
}

.dashboard {
    display: flex;
    padding-top: 3rem;

    ion-row {
        width: 100%;
        height: 90vh;
    }
}