ion-grid {
    margin-top: 1rem;

    ion-card {
        padding: 1rem;
        margin: 0;
        box-shadow: none;
        border: none;;

        ion-card-header {
            text-align: center;
            border-bottom: 1px solid gray;
            padding: 0.5rem 2rem;
        }

        ion-card-content {
            margin: 0;
            padding: 0.5rem 0.1rem 0rem 0.1rem !important;

            ion-label {
                display: flex;
                justify-content: space-between;

                span {
                    color: black;
                    font-weight: 600;
                }
            }
        }

    }


}